body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poll-title {
    font-size: 25px;
    text-align: center;
}

#schedule-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#schedule-table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}
